body {
    background: skyblue;
}
.table {
    font-size: 2em !important; 
}
.form-group, .form-control {
    font-size: 2rem;
}
.display-4 {
    text-align: center !important;
    font-size: 6em !important;
    font-weight: bolder;
    color: white !important;
}